@import "~styles.scss";

main {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .form-container {
    @include rounded('lg');
    @include text-color('dark');
    padding: 1.5rem;
    background: white;

    h1 {
      @include text('xl', 'dark', 'medium');
      margin-bottom: 1.5rem !important;
    }

    h2 {
      @include text('lg', 'dark', 'medium');
    }
  }
}