<app-header [page]='"login"'></app-header>

<main>
  <div class="shadow form-container">
    <div *ngIf="!sentLink">
      <h1 class="text-sm-left text-center">Forgot your password?</h1>
      <form class="auth-form" (submit)="onSubmit($event)">
        <div class="mb-2">
          <label class="mb-1" for="email">Email</label>
          <input type="text" autocomplete="off" id="email" [(ngModel)]="user.email" name="email" placeholder="e.g. johndoe@email.com" (input)="error.email = ''">
          <div class="error">{{ error.email }}</div>
        </div>
        <div class="d-flex align-items-center justify-content-sm-end justify-content-center mt-2">
          <app-spinner [size]="'small'" class="mr-2" *ngIf="processing"></app-spinner>
          <button type="submit" class="rounded-full border-0 cabin cursor-pointer text-size-sm bg-color-red text-white source-sans-pro" [ngClass]="{ 'disabled': processing }">
            {{ processing ? 'Processing...' : 'Reset Password' }}
        </button>
        </div>
      </form>
    </div>
    <div *ngIf="sentLink">
      <div class="mb-3">
        <h2>Done.</h2>
        <p>Password reset link is sent to your email. Please check your email.</p>
      </div>
      <div>
        <a routerLink="/">Go back</a>
      </div>
    </div>
  </div>
</main>